.DS_Store
.build/
.local-work/
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.xcuserdatad/
SourcePackages/
.swiftpm/
*.xcresult/
*.ipa
*.dSYM/
*.mobileprovision
*.p12
.env
.env.*
